.education {
    padding: 0 1.25rem 7.5rem 1.25rem;
    margin: 30px auto;
}

education-img img {
    width: 28rem;
}

.education-info h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: rgb(66, 66, 66);
}

.education-info p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: rgb(66, 66, 66);

 
      
      
       
   
    
        
       
      
}
