.zerodha-logo {
    width: 10rem;
    padding: 10px 0;
}

.footer {
    padding: 1.9rem 0;
}

.socials a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 1.25rem;
    margin: 0 0.7rem;
}


.footer-container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.copyright {
    font-size: 0.8rem;
    color: #000000;
    opacity: 0.5;
    margin-top: 1rem;
}

.footer-hr {
    /* margin: 1rem 0; */
    /* border: 0.5px solid #000000; */
    opacity: .1;
}

.list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-style li a {
    /* margin: 0.5rem 0; */
    font-size: 1rem;
    font-weight: 500;
    color: rgb(66, 66, 66);
    line-height: 2rem;
    opacity: 0.7;

}

.list-style li a:hover {
    color: rgb(56, 126, 209)
}

.footer-row {
    display: flex;
    justify-content: space-between;

}

.footer-title {

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2.25rem;
    color: rgb(66, 66, 66);
    margin: 0 0 0.625rem 0;
}

.footer-col {
    width: 16rem;
}

.smallprint {
    margin-top: 40px;
}

.footer .smallprint p {
    font-size: .65rem;
    margin-top: 0;
    margin-bottom: .5rem;
    width: 100%;
    font-weight: 400;
    line-height: 18.72px;
    color: rgb(155, 155, 155);
}


.footer .footer-graveyard-links ul li {
    display: inline;
    font-size: .75rem;
    margin-right: 1rem;



    /* font-size: 12px; */
    font-weight: 500;
    line-height: 48px;
    color: rgb(155, 155, 155);
}

.footer .footer-graveyard-links ul li a {

    font-size: .75rem;
    margin-right: 20px;
    margin-bottom: 0;



    /* font-size: 12px; */
    font-weight: 500;
    line-height: 48px;
    color: rgb(155, 155, 155);
}

.footer .footer-graveyard-links ul li a:hover {

    color: rgb(56, 126, 209);

}

.footer {
    background-color: #fbfbfb;
    padding: 30px 0 5px 0;
    border-top: 1px solid #eee;
}

.smallprint p a {
    text-decoration: none;
    color: rgb(56, 126, 209);
    font-size: .65rem;
}

.smallprint p a:hover {


    color: rgb(66, 66, 66);
}